
  <aside>
    <div class="company-name">
      <a href="/">
      <img src="./img/logo.png" width="60" height="60">
    </a>
    </div>
    <div class="menu">
        <a href="/">
          <span><i class="bi bi-columns-gap"></i></span>
          <span class="link">Dashboard</span>
        </a>
        <a href="/add-document">
          <span><i class="bi bi-card-list"></i></span>
          <span class="link">Request Sign</span>
        </a>      
        <a href="/profil">
          <span><i class="bi bi-at"></i></span>
          <span class="link">Profil</span>
        </a>    
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span><i class="bi bi-file-earmark-medical"></i></span>
              <span>History</span>
              <span><i class="bi bi-chevron-down"></i></span>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body accor-body">
              <a href="/from-others">
                <span><i class="bi bi-circle"></i></span>
                <span class="link-accor">From others</span>
              </a>  
            </div>
          </div>
        </div>  
    </div>
  </aside>